*{
    margin: 0;
    padding: 0;
}
.container{
    margin: 0px 130px;
}
.row{
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
}
.second{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    
}
img{
    height: 400px;
    margin: 0 auto;
}
@media screen and (max-width:576px) {
    .row{
        flex-direction: column;
    }
    .second{
        grid-template-columns: repeat(2 , 1fr);
    }
}