*{
    margin: 0;
    padding: 0;
}
.container{
    margin: 0px 130px;
}
.row{
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
}
.second{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    border: 5px solid red;
}
img{
    height: 400px;
}